roomStates/*
433rf.py
manualOverride.txt
post.py
log.log
log.log.*
richard_manualOverride.txt
vlad_manualOverride.txt
serverLog.log
bulbStateLog
nightTimeRange.pickle
__pycache__/*
handlers/__pycache__/*
bulbLog.log
calcTimes.pickle
temperaturePlot.png
